certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
idna==3.18
lxml==6.1.1
numpy==2.4.6
pandas==3.0.3
praw==7.8.2
prawcore==2.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytrends==4.9.2
requests==2.34.2
six==1.17.0
update_checker==1.0.0
urllib3==2.7.0
websocket-client==1.9.0
